<div class="ui segment vertical">
    <div class="ui section divider"></div>
    <h1>About the Ham</h1>
    <p>
        Hi I'm <a href="https://iamhamy.xyz/about/">Hamilton</a> and I wrote / built this! I like doing lots of things, but mostly I like to build (and then share those buildings). Some things I'm currently building: <a href="https://art.iamhamy.xyz/">art</a>, <a href="https://labs.iamhamy.xyz/projects">software</a>, and <a href="https://blog.iamhamy.xyz">prose</a>. To stay up-to-date with my latest buildings, <a href="https://iamhamy.xyz/subscribe/">subscribe to my email list</a> or <a href="https://iamhamy.xyz/connect/">follow one of my many other accounts</a>. #buildit #shipit #justhamit
    </p>
</div>
<div class="ui segment vertical">
    <h1>Shop the look</h1>
    <p>Like what you saw? <a href="https://shop.iamhamy.xyz">Check out my shop</a></p>
</div>