/* h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

a h3 {
  color: #be403b !important;
}

a.item {
  color: #be403b !important;
}

body, p, .text, a {
  font-family: 'Ubuntu Mono', monospace !important;
}

pre {
  background: black;
  white-space: pre-wrap;
}

code {
  background: lightgrey;
  padding-left: 0.1em;
  padding-right: 0.1em;
} */

img {
  max-width: 700px;
}

a h1.post-title {
  color: #ffffff;
}

a h1.post-title:hover {
  color: #be403b;
}

.masonry-with-columns {
  columns: 2;
  column-gap: 2rem;
}

.masonry-with-columns>a>img {
  margin-bottom: 1em;
}

.masonry-image-title {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
}

.masonry__img__wrap {
  position: relative;
  margin-bottom: 1rem;
}

.masonry__img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.masonry__img__wrap:hover .masonry__img__description_layer {
  visibility: visible;
  opacity: 1;
}

.masonry__img__description {
  transition: .5s;
  transform: translateY(1em);

  margin-left: 10px;
  margin-right: 10px;
}

.masonry__img__wrap:hover .masonry__img__description {
  transform: translateY(0);
}

/* begin carbon ads stuff */

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
  margin: auto;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

/* end carbon ads stuff */