<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div class="ui container">
      {{ block "nav" . }}
        {{ partial "nav.html" . }}
      {{ end }}
      {{ block "header" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}
    {{ block "footer" .}}
    {{ end }}
  </body>
</html>