{{ define "header" }}
{{ end }}
{{ define "main" }}
    {{ with .Params.redirect }}
        <link rel="canonical" href="{{ . }}" />
        <meta http-equiv="Refresh" content="0; url={{ . }}" />
    {{ end }}
    <div class="ui text container">
        <div class="ui segment vertical">
            <h1>{{ .Title }}</h1>
            Published: {{ .Date }}
            <p />
            {{ $wordCount := (.Content | countwords)}}
            Reading time: {{ add (div $wordCount 200) 1 }} mins ({{ $wordCount }} words)
            <p />
            {{ if .Params.tags }}
                Tags:
                {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{. | urlize}}/">{{ . }}</a>
                {{ end }}
            {{ end }}
        </div>
        <div>
            <p>
                <i>
                    {{if .Params.Subtitle}}
                        {{ .Params.Subtitle }}
                    {{end}}
                </i>
            </p>
            {{ with partial "custom-single-content-header.html" . }}
                {{ . }}
            {{ end }}
            {{ .Content }}
        </div>
        {{ with partial "custom-single-footer.html" . }}
            <div class="ui segment vertical">
                {{ . }}
            </div>
        {{ end }}
        <div class="ui segment vertical">
            <div class="ui section divider"></div>
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
{{ end }}
{{ define "footer" }}
    <script src="/js/prettify-handler.js"></script>
{{ end }}
