{{ if not .Site.IsServer }}
    {{ with .Site.GoogleAnalytics }}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{.}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{.}}');
        </script>
    {{ end }}
{{ end }}