<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/semantic.min.css" >
    <link rel="stylesheet" href="/css/hamy.css" >
    <link rel="shortcut icon" href="/favicon.png">
    <script src="https://kit.fontawesome.com/3145a2c29f.js" crossorigin="anonymous"></script>
    {{- with .Title | default .Site.Title }}
        <title>{{ . }}</title>
    {{- end }}
    {{- with .Description | default .Params.subtitle | default .Summary }}
        <meta name="description" content="{{ . }}">
    {{- end }}
    {{ partial "google_analytics_lazy.html" . }}
    {{ hugo.Generator }}
</head>
