<!-- Can be passed in a displaySection via -->
<div style="margin-top: 60px;"><!--just a place holder--></div>
<div class="post-list ui list">
    {{ $displaySection := .Scratch.Get "displaySection" }}
    {{ $countPerPage := 10 }}
    {{ if ($displaySection) }}
        {{ $paginatorInternal := .Paginate (where .Site.RegularPages "Type" $displaySection) $countPerPage}}
        {{ .Scratch.Set "paginator" $paginatorInternal }}
    {{ else }}
        {{ $displaySection = .Section }}
        {{ $paginatorInternal := .Paginator $countPerPage }}
        {{ .Scratch.Set "paginator" $paginatorInternal }}
    {{ end }}
    {{ $paginator := .Scratch.Get "paginator" }}
    {{ if .Site.Params.sectionconfigs }}
        {{ $sectionConfigs := .Site.Params.sectionconfigs}}
        {{ if ($displaySection) "in" $sectionConfigs }}
            {{ $sectionConfig := index $sectionConfigs ($displaySection) }}
            {{ $listType := $sectionConfig.listtype }}
            {{ .Scratch.Set "listType" $listType }}
        {{ end }}
    {{ end }}
    {{ $listType := .Scratch.Get "listType"}}
    {{ if eq $listType "card" }}
        <div class="ui three stackable cards">
            {{ range $paginator.Pages }}
                {{ $link := cond (isset .Params "redirect") .Params.redirect .Permalink }}
                <div class="card">
                        <a href="{{ $link }}"
                            class="item">
                        {{ .Scratch.Set "coverImage" "/default-cover.png" }}
                        {{ if .Params.coverImage }}
                            {{ .Scratch.Set "coverImage" .Params.coverImage }}
                        {{ end }}
                        {{ $coverImage := .Scratch.Get "coverImage" }}
                        <img class="ui image"
                            src="{{ $coverImage }}"
                            alt="{{ .Title }} cover image" />
                        {{ if not .Params.showonlycoverimage }}
                            <a href="{{ $link }}"
                                class="content">
                                <h3 class="post-title">{{ .Title }}</h3>
                            </a>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    {{ else if eq $listType "masonry"}}
        <div class="masonry-with-columns">
            {{ range $paginator.Pages }}
                {{ $link := cond (isset .Params "redirect") .Params.redirect .Permalink }}
                {{ .Scratch.Set "coverImage" "/default-cover.png" }}
                {{ if .Params.coverImage }}
                    {{ .Scratch.Set "coverImage" .Params.coverImage }}
                {{ end }}
                {{ $coverImage := .Scratch.Get "coverImage" }}
                <a href="{{ $link }}">
                    <div class="masonry__img__wrap">
                        <img class="ui image masonry__img__img"
                            src="{{ $coverImage }}"
                            alt="{{ .Title }} cover image" />
                        <div class="masonry__img__description_layer">
                            <p class="masonry__img__description">{{ .Title }}</p>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    {{ else }}
        <div class="ui text container">
            {{ range $paginator.Pages }}
                <div class="item" style="padding-bottom: 5%;">
                    <a href="{{ .Permalink }}">
                        <div>
                            <h1 class="post-title">{{ .Title }}</h1>
                        </div>
                    </a>
                    {{ $wordCount := (.Content | countwords)}}
                    Reading time: {{ add (div $wordCount 200) 1 }} mins ({{ $wordCount }} words)
                </div>
            {{ end }} 
        </div>
    {{ end }}
    <div class="ui text container center aligned"
        style="margin-top: 5%;">
        {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
              {{ if $paginator.HasPrev }}
                {{ with $paginator.Prev }}
                    <a href="{{ .URL }}">
                        <button class="ui button">
                            Previous
                        </button>
                    </a>
                {{ end }}
              {{ end }}
              {{ if $paginator.HasNext }}
                {{ with $paginator.Next }}
                    <a href="{{ .URL }}">
                        <button class="ui button">
                            Next
                        </button>
                    </a>
                {{ end }}
              {{ end }}
        {{ end }}
    </div>
</div>
