<div class="ui stackable menu">
    <a class="item"
        href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
    </a>
    <div class="right menu">
        {{ range .Site.Menus.main.ByWeight }}
            <a class="item"
                href="{{ .URL | relLangURL }}">
                {{ .Name }}
            </a>
        {{ end }}
    </div>
</div>
